{% extends 'base.html.twig' %}

{% block body %}
<body></body>
	{% include ('full-menu.html.twig') %}

<div class="container pt-5">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Done?</th>
					<th scope="col">Task</th>
					<th class="importance" scope="col">Importance</th>
					<th scope="col">Options</th>
				</tr>
			</thead>
			<tbody>
				{% for task in tasks %}
					<tr>
						<td class="align-it"><input type="checkbox" disabled {% if task.done == true %} checked="checked" {% endif %}>
						</td>
						<td class="align-it 
                        {% if task.done == true %}
                            {{ 'text-secondary task-done' }}
                        {% endif %}
                        ">{{ task.name }}</td>

						{# switch color block depending on task importance #}
						<td class="importance align-it">
							<div class="color-block
								                    {% if task.importance == " 0" %}
								                        {{ 'bg-danger' }}
								                    {% elseif task.importance == " 1" %}
								                        {{ 'bg-warning' }}
								                    {% elseif task.importance == " 2" %}
								                        {{ 'bg-primary' }}
								                    {% elseif task.importance == " 3" %}
								                        {{ 'bg-secondary' }}
								                    {% endif %}
								                    ">&nbsp;</div>
						</td>

						<td>
							<a href="{{ path('list.edit', { id: task.id }) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
							<a href="{{ path('list.delete', { "id": task.id }) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
        <section class="buttons-list">
            <a href="{{ path('list.new-task')}}" class="btn btn-primary">Add new</a>
        </section>
	</body>

{% endblock %}


